<div class="main-content__header d-flex justify-content-between align-items-center">
    <h1 class="mb-0">{{title}}</h1>
    <button type="button" class="btn btn-accent btn-narrow">Add New Service</button>
</div>
<div class="main-content__body rounded mt-3">
    <ng-template #preloader>
        <app-preloader-local></app-preloader-local>
    </ng-template>
    <app-services-list class="services-module"
                       *ngIf="services$ | async as services; else preloader"
                       [services]="services">
    </app-services-list>
</div>