<div class="page__header">
    <div id="topNavBar" class="top-header__container_transparent pt-3">
        <div class="container">
            <div class="top-header">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-auto mb-2 mb-md-0 justify-content-center justify-content-md-start">
                        <img src="assets/img/header/Logo.png" alt="logo" class="logo">
                    </div>
                    <div class="col-12 col-md-auto mb-3 mb-md-0 justify-content-center justify-content-md-start  pt-3 pt-md-0">
                        <button type="button" class="btn btn-accent btn-narrow">Log In Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-5 fixed-height-block invert">
                <h1 class="mt-2 invert">Home of Density</h1>
                <p>Denteez was created by dentists for dentistry in order to make the life of
                    everyone involved in dentistry easier.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="page__section page__body">
    <div class="container">
        <app-contact-us-form></app-contact-us-form>
    </div>
</div>
<div class="page__section">
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <h2 class="text-center">About Denteez</h2>
            </div>
            <div class="col-6 col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolorum explicabo fugit iste
                maxime necessitatibus, neque veniam vero voluptas! Accusamus accusantium aliquam aspernatur cumque dicta
                dolor eveniet, iusto modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio.
            </div>
            <div class="col-6 col-md-6">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio dolorum explicabo fugit iste
                maxime necessitatibus, neque veniam vero voluptas! Accusamus accusantium aliquam aspernatur cumque dicta
                dolor eveniet, iusto modi? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias distinctio.
            </div>
        </div>
    </div>
</div>
<footer class="page__footer pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-auto">
                Denteez Copyright 2018
            </div>
            <div class="col-auto">
                <nav class="page__footer-nav">
                    <ul>
                        <li><a href="javascript:void(0)">Support</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)">Terms of Use</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
