<aside class="left-sidebar">
    <app-nav-menu class="d-none d-md-block"></app-nav-menu>
    <div class="block mt-3 pb-3">
        <div class="block__header mb-3">
            <div class="block__title">
                Advertisement
            </div>
        </div>
        <div class="block__body">
            <img class="mb-4" src="assets/img/content_icons/advert.png" alt="adv">
        </div>
    </div>
    <div class="block mt-3">
        <div class="block__header mb-3">
            <div class="block__title d-flex justify-content-between">
                <span>Featured Companies</span>
                <a href="#">See all</a>
            </div>
        </div>
        <div class="block__body">
            <div class="media media-small  mb-3">
                <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
                     alt="Generic placeholder image">
                <div class="media-body">
                    <p class="media__title"><a href="#">Company name</a></p>
                    <div>Manufacturer</div>
                    <p>Belgrade, Serbia</p>
                    <div>
                        <small><a href="#">Follow now</a></small>
                    </div>
                </div>
            </div>
            <div class="media media-small  mb-3">
                <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
                     alt="Generic placeholder image">
                <div class="media-body">
                    <p class="media__title"><a href="#">Company name</a></p>
                    <div>Manufacturer</div>
                    <p>Belgrade, Serbia</p>
                    <div>
                        <small><a href="#">Follow now</a></small>
                    </div>
                </div>
            </div>
            <div class="media media-small mb-3">
                <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
                     alt="Generic placeholder image">
                <div class="media-body">
                    <p class="media__title"><a href="#">Company name</a></p>
                    <div>Manufacturer</div>
                    <p>Belgrade, Serbia</p>
                    <div>
                        <small><a href="#">Follow now</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block mt-3 pb-3">
        <div class="block__body">
            <div>
                <small><a href="#" class="text-muted">Denteez Copyright 2018</a></small>
            </div>
            <div>
                <small><a href="#" class="pr-5 text-muted">Terms of use</a></small>
                <small><a href="#" class="text-muted">Privacy Policy</a></small>
            </div>
        </div>
    </div>
</aside>