<ul class="horizontal-menu">
    <li routerLinkActive="active" class="horizontal-menu__item">
        <a routerLink="/feed">
            <img src="assets/img/content_icons/navigation/Feed.png" alt="feed">
            <span>Feed</span>
        </a>
    </li>
    <li routerLinkActive="active" class="horizontal-menu__item">
        <a routerLink="/colleague">
            <img src="assets/img/content_icons/navigation/Ask.png" alt="feed">
            <span>Ask a Colleague</span>
        </a>
    </li>
    <li routerLinkActive="active" class="horizontal-menu__item">
        <a routerLink="/companies">
            <img src="assets/img/content_icons/navigation/Companies.png" alt="feed">
            <span>Companies</span>
        </a>
    </li>
    <li routerLinkActive="active" class="horizontal-menu__item">
        <a routerLink="/services">
            <img src="assets/img/content_icons/navigation/Services.png" alt="feed">
            <span>Service Directory</span>
        </a>
    </li>
</ul>