<aside class="right-sidebar">
  <div class="block mb-3">
    <div class="block__header mb-3">
      <div class="block__title d-flex justify-content-between">
        <span>People you may know</span>
        <a href="#">See all</a>
      </div>
    </div>
    <div class="block__body">
      <div>
        <div class="media__title"><a href="#">Dennis Adams</a></div>
        <div class="media media-small  mb-3">
          <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
               alt="Generic placeholder image">
          <div class="media-body">
            <p>Dentist (Practice owner)</p>
            <p>London, England</p>
            <p>
              <small><a href="#">Add friend</a></small>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media__title"><a href="#">Mary Carpenter</a></div>
        <div class="media media-small  mb-3">
          <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
               alt="Generic placeholder image">
          <div class="media-body">
            <p>Dentist (Practice owner)</p>
            <p>Belgrade, Serbia</p>
            <p>
              <small><a href="#">Add Friend</a></small>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media__title"><a href="#">Eddy Somewho</a></div>
        <div class="media media-small  mb-3">
          <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
               alt="Generic placeholder image">
          <div class="media-body">
            <p>Dentist (Practice owner)</p>
            <p>Paris, France</p>
            <p>
              <small><a href="#">Add Friend</a></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block mb-3">
    <div class="block__header mb-3">
      <div class="block__title d-flex justify-content-between">
        <span>Featured Products</span>
        <a href="#">See all</a>
      </div>
    </div>
    <div class="block__body">
      <div>
        <div class="media__title"><a href="#">Product Name</a></div>
        <div class="media media-small  mb-3">
          <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
               alt="Generic placeholder image">
          <div class="media-body">
            <p>Product Short Description. The quick brown fox jumps over the lazy dog.
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="media__title"><a href="#">Product2 Name</a></div>
        <div class="media media-small  mb-3">
          <img class="mr-2 mt-1 rounded" src="assets/img/content_icons/featured/featuredImage1.jpg"
               alt="Generic placeholder image">
          <div class="media-body">
            <p>Product Short Description. The quick brown fox jumps over the lazy dog.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block mb-3">
    <div class="block__header mb-3">
      <div class="block__title">
        Advertisement
      </div>
    </div>
    <div class="block__body">
      <img class="mb-4" src="assets/img/content_icons/advert.png" alt="adv">
    </div>
  </div>
</aside>