<header>
    <div class="main-menu__responsive-navbar">
        <a href="#topNavBar"
           id="mainMenuToggle"
           class="main-menu__toggle"
           role="button"
           aria-expanded="false"
           aria-controls="main-menu"
           aria-label="Open main menu">
            <span class="fa fa-bars"></span>
        </a>
    </div>
    <div id="topNavBar" class="top-header__container" aria-hidden="true">
        <div class="container">
            <div class="top-header">
                <div class="row">
                    <a href="#mainMenuToggle"
                       id="mainMenuClose"
                       class="main-menu__close"
                       role="button"
                       aria-expanded="false"
                       aria-controls="main-menu">
                        <span class="fa fa-close"></span>
                    </a>
                    <div class="col-12 col-md-auto mb-2 mb-md-0 justify-content-center justify-content-md-start">
                        <!--<img src="img/header/Logo.png" alt="logo" class="logo">-->
                        <img src="assets/img/header/logo.svg" alt="logo" class="logo">
                    </div>
                    <div class="col-12 col-md mb-3 mb-md-0 justify-content-center justify-content-md-start">
                        <div class="search-bar__container">
                            <i class="fa fa-search search-bar__icon"></i>
                            <input type="text" placeholder="Company name" class="search-bar rounded">
                        </div>
                    </div>
                    <div class="col-12 col-md-auto mb-2 mb-md-0">
                        <nav id="mainMenu"
                             class="main-menu"
                             role="navigation"
                             aria-label="main menu">
                            <ul>
                                <li class="main-menu__item rounded">
                                    <a href="javascript:void(0)">
                                        <img src="assets/img/content_icons/navigation/Chat.png"
                                             alt="chat">
                                    </a>
                                </li>
                                <li class="main-menu__item rounded">
                                    <a href="javascript:void(0)">
                                        <img src="assets/img/content_icons/navigation/Notifications.png"
                                             alt="notifications">
                                    </a>
                                </li>
                                <li class="main-menu__item rounded d-md-none">
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-user-o"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-12 col-md-auto mb-3 mb-md-0 d-none d-md-flex top-header__profile">
                        <div class="media user-block align-items-center">
                            <img class="mr-1 align-self-center rounded" src="assets/img/content_icons/featured/user.jpg"
                                 alt="Generic placeholder image">
                            <div class="media-body text-truncate">
                                Maximilian Beekeeper
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-md-none">
                        <app-nav-menu class="w-100"></app-nav-menu>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a href="#mainMenuToggle"
       id="mainMenuBackdrop"
       class="main-menu__backdrop"
       tabindex="-1">
    </a>
</header>